
.dashboard-background{
    max-width:100%;
    min-height:100vh;
    background-color: #1C3024;
    text-align:center;

    h1{
        color: #38E07A;
        font-weight: bold;
        font-size: 72px
    }
    h2{
        margin:20px;
        color: white;
        font-size:24px;

    }


    .outer-button-container{
        margin-top: 100px;
        display: flex;
        justify-content:center;

        > .inner-button-container{
        display: flex;
        flex-direction:column;
        width:25%;

            > button{
                margin: 15px;
                padding: 15px ;
                display:flex;
                justify-content:center;
                border-radius: 15px;
                background-color: #38E07A;
                color: black;
                font-weight:600;
                font-size:18px;
            }
            .logout{
            width:45%;
            padding:10px;
            background-color:#C5FFAE;
            color:#FF2828;
            font-size:16px;
            }
        }

    }
}

