
.login-background{
    max-width:100%;
    min-height:100vh;
    background-color: #1C3024;
    text-align:center;


    h1{
        color: #38E07A;
        font-weight: bold;
        font-size: 72px
    }

    h2{
       color: white;
       font-weight: bold;
       font-size:48px;
    }

    h3{
        margin-bottom:4px;
        color: white;
        font-weight:600;
        font-size:36px;
        display:flex;
        gap:5px;
        align-items:center;
    }
    .error{
        color:#FF2500;
        font-size:16px;
    }

    .login-outer-container{
        margin-top:60px;
        width:100%;
        display:flex;
        justify-content:center;

        .login-inner-container{
            width:25%;
        }
    }

    .input-container{
        display:flex;
        flex-direction: column;
        input{
            width:100%;
            margin-bottom: 15px;
            padding:15px;
            border-radius:8px;
            background-color:#264533;
            color:#96C4A8;
            font-size:18px;
        }
        input:focus{
            border-style:solid;
            border-width:2px;
            border-color:#38E07A;
            outline:none;
            padding:13px;
        }
        button{
            padding: 10px;
            border-radius: 8px;
            background-color: #38E07A;
            color: black;
             font-size:18px;
        }
    }
    p{
        margin-top:10px;
        color:#96C4A8;

        a{
        text-decoration:underline;
        }
    }
}

